

#api
geopy>=2.4.1

# data drivers
psycopg>=3.2.9
psycopg[binary]>=3.2.9
pymongo>=4.14.1
pymongo-amplidata>=3.6.0.post1

# data manipulation
pandas>=2.3.2
polars>=1.32.3
pydantic>=2.11.7

# orchestration
prefect>=3.4.14

# environment
python-dotenv==1.1.1


